.font {
      font-family: Inter;
}

body {
      background-color: black;
      color: white;

}

.inter {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100%;
      font-style: normal;
}

.nav-section {
      display: flex;
      color: white;
      justify-content: center;
      text-align: center;
      gap: 50%;
      margin-top: 25px;
}

.nav-1-1 {
      text-decoration: none;
      color: rgb(230, 83, 60);
      font-size: 28px;
}

.nav-2 {
      display: flex;
      gap: 32px;
      font-size: 18px;
      border: 1px solid rgba(128, 128, 128, 0.363);
      padding: 4px;
      border-radius: 8px;
}

.nav-2-1 {
      text-decoration: none;
      color: rgb(255, 255, 255);
      padding: 3px;
      border-radius: 8px;
      background: rgb(230, 83, 60);
}

.nav-2-2 {
      text-decoration: none;
      color: rgb(255, 255, 255);
}

/* banner section style */
.banner-section {
      display: flex;
      gap: 18%;
      width: 80%;
      margin: auto;
      margin-top: 50px;
      justify-content: space-between;
}

.banner-1 {
      height: 150%;
      margin-top: 98px;
}

.banner-1-1 {
      font-size: 78px;
      font-weight: 500px;
      line-height: 100px;
}

.banner-1-2 {
      color: rgba(255, 255, 255, 0.5);
}

.banner-1-3 {
      border: none;
      height: 40px;
      width: 190px;
      border-radius: 42px;
      background: rgb(230, 83, 60);
      margin-right: 10px;
      color: white;
}

.banner-1-4 {
      border: none;
      height: 40px;
      width: 190px;
      border-radius: 42px;
      background-color: black;
      color: white;
      border: 1px solid white;
}

.shape {
      font-family: cursive;
}

/* responsive section */

@media screen and (max-width:576px) {
      .nav-1-1 {
            text-decoration: none;
            color: rgb(230, 83, 60);
            font-size: 32px;
            margin-right: 110px;
      }

      .nav-2 {
            display: none;
      }

      .banner-section {
            flex-direction: column;
      }

      .btn {
            display: flex;
      }

      .banner-1-1 {
            font-size: 50px;
            font-weight: 400px;
            line-height: 65px;
      }

      .banner-2 {
            height: 100%;
            width: 100%;
            border: 1px solid wheat;
      }
}