* {
      margin: 0;
      padding: 0;
}

.font {
      font-family: Inter;
}

body {
      background-color: black;
      color: white;
      width: 80%;
      margin: auto;

}

.inter {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100%;
      font-style: normal;
}

.nav-section {
      /* border: 1px solid blue; */
      display: flex;
      color: white;
      justify-content: center;
      text-align: center;
      gap: 50%;
      margin-top: 25px;
}

.nav-1-1 {
      text-decoration: none;
      color: rgb(230, 83, 60);
      font-size: 28px;
}

.nav-2 {
      display: flex;
      gap: 32px;
      font-size: 18px;
      border: 1px solid rgba(128, 128, 128, 0.363);
      padding: 4px;
      border-radius: 8px;
}

.nav-2-1 {
      text-decoration: none;
      color: rgb(255, 255, 255);
      padding: 3px;
      border-radius: 8px;
      background: rgb(230, 83, 60);
}

.nav-2-2 {
      text-decoration: none;
      color: rgb(255, 255, 255);
}

/* banner section style */
.banner-section {
      display: flex;
      gap: 18%;
      justify-content: space-between;
      margin-top: 50px;
}

.banner-1 {
      height: 150%;
      margin-top: 98px;
}

.banner-1-1 {
      font-size: 78px;
      font-weight: 500px;
      line-height: 100px;
}

.banner-1-2 {
      margin-top: 15px;
      color: rgba(255, 255, 255, 0.5);
}

.banner-1-3 {
      border: none;
      height: 40px;
      width: 190px;
      border-radius: 42px;
      background: rgb(230, 83, 60);
      margin-right: 10px;
      color: white;
      margin-top: 20px;
}

.banner-1-4 {
      margin-top: 20px;
      border: none;
      height: 40px;
      width: 190px;
      border-radius: 42px;
      background-color: black;
      color: white;
      border: 1px solid white;
}

.shape {
      font-family: cursive;
}

/* Change Your Habits section style */

.habits-change-section {
      margin-top: 50px;
}

.change-1-1 {
      text-align: center;
      font-size: 46px;
      font-weight: 800;
      line-height: 120%;
}

.change-1-2 {
      margin-left: 220px;
      width: 670px;
      margin-top: 15px;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
}

.habits-change-2 {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.change-2-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: none;
      align-items: center;
      /* border: 2px solid greenyellow; */
}

.change-2-2 {
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      margin-bottom: 15px;
}

.change-2-3 {
      margin-top: 10px;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
}

/* run section style  */
.run-section {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      border-radius: 18px;
      background: rgb(34, 34, 34);
}

.run-1 {
      padding: 50px 0px 50px 50px;
}

.run-1-2 {
      width: 300px;
      margin-top: 20px;
      font-size: 48px;
      font-weight: 750;
      line-height: 100%;
}

.run-1-3 {
      width: 470px;
      margin-top: 15px;
      color: rgba(255, 255, 255, 0.5);
}

.run-2 {
      /* border-radius: 15px; */
      text-align: start;
      padding: 40px;
      height: 300px;
      width: 80%;

}

/*bmi-calculater-section style */
.bmi-calculater-section {
      margin-top: 50px;
}

.bmi-section-1 {
      font-size: 46px;
      font-weight: 750;
      line-height: 100%;
      text-align: center;
}

.bmi-section-1-2 {
      width: 700px;
      text-align: center;
      margin-left: 170px;
      margin-top: 10px;
      color: rgba(255, 255, 255, 0.5);
}

/* table section style */
.table-background {
      width: 100%;
      background-color: gainsboro;
}

.table-section {
      width: 100%;
      background-color: rgb(34, 34, 34);
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      border-radius: 18px;
}

.table-1 {
      width: 50%;
}

.table-1-1 {
      margin: 30px 0px 30px 0px;
}

.table-2 {
      width: 50%;
}

.table-2-1 {
      margin: 30px 0px 30px 0px;
}

.table-2-2 {
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 15px;
      width: 420px;
}

.table-1-2 {
      text-align: center;
}

.table-1-3 {
      padding-top: 15px;
      text-align: start;
      color: rgba(255, 255, 255, 0.5);
}

.table-1-4 {
      padding-left: 10px;
}

td,
th,
table {
      height: 40px;
      width: 400px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-collapse: collapse;
}

.from-section-1 {
      padding: 5px;
      margin: 3px;
      height: 30px;
      width: 250px;
      border-radius: 8px;
      border: none;
      background: rgba(255, 255, 255, 0.1);
}

.from-section-3 {
      padding: 5px;
      margin: 3px;
      height: 40px;
      width: 260px;
      border-radius: 8px;
      border: none;
      background: rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.3);
}

.from-section-2 {
      padding: 5px;
      margin: 3px;
      height: 40px;
      width: 530px;
      border-radius: 8px;
      border: none;
      background: rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.3);
}

.table-2-3 {
      border: none;
      height: 40px;
      width: 190px;
      border-radius: 42px;
      background: rgb(230, 83, 60);
      color: white;
      margin-top: 25px;
      margin-bottom: 30px;
}

/* team section style */
.team-section {
      margin-top: 50px;
}

.team-1 {
      font-size: 46px;
      font-weight: 750;
      line-height: 100%;
      text-align: center;
}

.team-1-2 {
      width: 700px;
      text-align: center;
      margin-left: 170px;
      margin-top: 10px;
      margin-bottom: 20px;
      color: rgba(255, 255, 255, 0.5);
}

.image-containar {
      /* width: 100vw; */
      justify-content: center;
      padding: 20px;
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      background-color: rgb(34, 34, 34);
      border-radius: 18px;
}

.trainer-name {
      padding-left: 9px;
      padding-top: 5px;
}

.trainer-0 {
      padding-left: 9px;
      color: rgba(255, 255, 255, 0.555);
}

.trainer-1 {
      width: 326px;
      height: 272px;
      background-image: url(../images/trainer1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
      /* display: flex;
      align-items: flex-end; */
      /* flex-direction: column; */
}

.trainer-2 {
      width: 326px;
      height: 272px;
      background-image: url(../images/trainer2.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
}

.trainer-3 {
      width: 326px;
      height: 272px;
      background-image: url(../images/trainer3.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
}

.trainer-4 {
      width: 326px;
      height: 272px;
      background-image: url(../images/trainer4.png);
      background-repeat: no-repeat;
      background-position: 75%;
      background-size: cover;
      border-radius: 10px;
}

.trainer-5 {
      width: 326px;
      height: 272px;
      background-image: url(../images/trainer5.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
}

.trainer-6 {
      width: 326px;
      height: 272px;
      background-image: url(../images/trainer6.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
}

/* responsive section */

@media screen and (max-width:576px) {
      .nav-1-1 {
            text-decoration: none;
            color: rgb(230, 83, 60);
            font-size: 32px;
            margin-right: 110px;
      }

      .nav-2 {
            display: none;
      }

      /* banner section style */
      .banner-section {
            flex-direction: column;
      }

      .btn {
            display: flex;
      }

      .banner-1-1 {
            margin-top: -90px;
            font-size: 50px;
            font-weight: 500px;
            line-height: 65px;
      }

      .banner-2 {
            margin-top: 20px;
            height: 100%;
            width: 97%;
      }

      /* habits-change-section responsive */

      .change-1-1 {
            text-align: center;
            font-size: 25px;
            font-weight: 800;
            line-height: 120%;
      }

      .change-1-2 {
            font-size: 14px;
            width: 280px;
            margin-left: 0px;
      }

      .habits-change-2 {
            margin-top: 28px;
            flex-direction: column;
      }

      .change-2-3 {
            margin-bottom: 23px;
      }

      /* run section style */
      .run-section {
            margin-top: 10px;
            flex-direction: column;
      }

      .run-1 {
            padding: 25px;
      }

      .run-1-2 {
            width: 200px;
            margin-top: 13px;
            font-size: 30px;
            font-weight: 850;
            line-height: 150%;

      }

      .run-1-3 {
            width: 250px;
      }

      .banner-1-3 {
            height: 40px;
            width: 200px;
            margin-left: 30px;
            margin-top: 15px;
      }

      .run-2 {
            padding: 0px 25px 25px 25px;
            height: 300px;
            width: 80%;
      }

      /* bmi section style */
      .bmi-section-1 {
            font-size: 30px;
            font-weight: 850;
            line-height: 100%;
            text-align: start;
      }

      .bmi-section-1-2 {
            width: 300px;
            margin-left: 0px;
            text-align: start;
      }

      /* table section style */
      .table-section {
            flex-direction: column;
            margin-top: 50px;
            text-align: center;
      }

      .table-1-1 {
            width: 300px;
            margin: 30px 0px 30px 0px;
      }

      td,
      th,
      table {
            margin-left: 23px;
            height: 40px;
            width: 250px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-collapse: collapse;
      }

      .table-2-1 {
            text-align: center;
            width: 300px;
      }

      .table-2-2 {
            padding: 0px 10px 0px 10px;
            text-align: start;
            width: 290px;
      }

      .from-section-0 {
            padding: 0px 10px 0px 10px;
      }

      .from-section-1 {
            height: 30px;
            width: 260px;
      }

      .from-section-3,
      .from-section-2 {
            width: 270px;
      }

      .table-2-3 {
            margin-left: 55px;
      }

      /* team section style */
      .team-1 {
            font-size: 30px;
            font-weight: 750;
            line-height: 100%;
            text-align: center;
      }

      .team-1-2 {
            width: 300px;
            text-align: center;
            margin-left: 0px;
      }
}