.font {
      font-family: Inter;
}

body {
      background-color: black;
      color: white;

}

.inter {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100%;
      font-style: normal;
}

.nav-section {
      display: flex;
      color: white;
      justify-content: center;
      text-align: center;
      gap: 50%;
      margin-top: 25px;
}

.nav-1-1 {
      text-decoration: none;
      color: rgb(230, 83, 60);
      font-size: 28px;
}

.nav-2 {
      display: flex;
      gap: 32px;
      font-size: 18px;
      border: 1px solid rgba(128, 128, 128, 0.363);
      padding: 4px;
      border-radius: 8px;
}

.nav-2-1 {
      text-decoration: none;
      color: rgb(255, 255, 255);
      padding: 3px;
      border-radius: 8px;
      background: rgb(230, 83, 60);
}

.nav-2-2 {
      text-decoration: none;
      color: rgb(255, 255, 255);
}

/* banner section style */
.banner-section {
      margin: 45px 95px 45px 95px;
      display: flex;
      gap: 30%;
      border: 2px solid white;
}

.banner-1 {
      border: 2px solid greenyellow;
}

.banner-2 {
      border: 2px solid wheat;
}